@model FoodViewModel

@{
    ViewData["Title"] = "Create a Food";
}

<div class="authForm container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="background-color: lightgray; border-radius: 15px;">
                @using (Html.BeginForm("GetFoodEntry", "Food", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                    <form class="card-body p-5">


                        <h1 class="mb-2">ADD A FOOD</h1>


                        @*Food Name field*@
                        <div class="form-outline mb-2">
                            @Html.Label("Food Name")
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-sm" })
                        </div>

                        <div class="form-outline mb-2">
                            @Html.Label("Food Description")
                            @Html.TextAreaFor(x => x.DescriptionText, new { @class = "form-control form-control-lg" })
                        </div>

                        <div class="form-outline mb-2">
                            @Html.Label("Calories")
                            @Html.TextBoxFor(x => x.Calories, new { @class = "form-control form-control-sm" })
                        </div>

                        @*Protein*@
                        <div class="form-outline mb-2">
                            @Html.Label("Protein (g)")
                            @Html.TextBoxFor(x => x.Protein, new { @class = "form-control form-control-sm" })
                        </div>

                        @*Carbohydrates*@
                        <div class="form-outline mb-2">
                            @Html.Label("Carbohydrates (g)")
                            @Html.TextBoxFor(x => x.Carbs, new { type = "number", @class = "form-control form-control-sm" })
                        </div>

                        @*Fat*@
                    <div class="form-outline mb-2">
                        @Html.Label("Fat (g)")
                        @Html.TextBoxFor(x => x.Fat, new { @class = "form-control form-control-sm" })
                    </div>

                    <div class="form-outline mb-2">
                        @Html.Label("Upload Image")
                        @Html.TextBoxFor(x => x.Image, null, new { type = "file", @class = "input-file" })

                    </div>

                        <button class="btn btn-primary btn-lg btn-block border border-white mb-2" type="submit" style="background-color: black;">Add Food</button>

                    </form>
                }
            </div>
        </div>
    </div>
</div>
